gg-scale-ui/mqtt/flows.json
[
    {
        "id": "b2c87d64.2d69",
        "type": "tab",
        "label": "Scale1-ui-blinky-lite",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6ad7c930.1a06b8",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#b604b5",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#b604b5",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#b604b5",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#fa0df8",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#b604b5",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "GG-SCALE UI Blinky-Lite",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "fe7df95e.65a988",
        "type": "mqtt-broker",
        "z": "",
        "name": "SMC",
        "broker": "broker.shiftr.io",
        "port": "1883",
        "clientid": "ScaleUI",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "762d27e6.db88d8",
        "type": "ui_group",
        "z": "",
        "name": "Weight",
        "tab": "187e2772.eeb299",
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "187e2772.eeb299",
        "type": "ui_tab",
        "z": "",
        "name": "GG-SCALE UI Blinky-Lite",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "7af18fac.1fe3c",
        "type": "mqtt in",
        "z": "b2c87d64.2d69",
        "name": "",
        "topic": "SMC/Scale1/Weight",
        "qos": "0",
        "broker": "fe7df95e.65a988",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "d602b2f0.1d035"
            ]
        ]
    },
    {
        "id": "d602b2f0.1d035",
        "type": "json",
        "z": "b2c87d64.2d69",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 290,
        "y": 60,
        "wires": [
            [
                "22a4dad3.f3ec46"
            ]
        ]
    },
    {
        "id": "6059660e.b5b7d8",
        "type": "ui_gauge",
        "z": "b2c87d64.2d69",
        "name": "Weight",
        "group": "762d27e6.db88d8",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "{{msg.label}}",
        "label": "",
        "format": "{{value}}",
        "min": "-300",
        "max": "300",
        "colors": [
            "#ca3838",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "-150",
        "seg2": "150",
        "x": 730,
        "y": 40,
        "wires": []
    },
    {
        "id": "58160a91.897894",
        "type": "ui_template",
        "z": "b2c87d64.2d69",
        "group": "762d27e6.db88d8",
        "name": "Toggle Unit",
        "order": 5,
        "width": "0",
        "height": "0",
        "format": "<md-button \n    ng-style=\"{color:'black', background:'lime'}\"\n    ng-disabled='false'\n    ng-click=\"send({payload:true})\">Toggle Unit</md-button>\n",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "287116df.9ab4ba"
            ]
        ]
    },
    {
        "id": "287116df.9ab4ba",
        "type": "mqtt out",
        "z": "b2c87d64.2d69",
        "name": "",
        "topic": "SMC/Scale1/ToggleUnit",
        "qos": "0",
        "retain": "false",
        "broker": "fe7df95e.65a988",
        "x": 330,
        "y": 340,
        "wires": []
    },
    {
        "id": "4c94c304.ba005c",
        "type": "ui_template",
        "z": "b2c87d64.2d69",
        "group": "762d27e6.db88d8",
        "name": "Zero Scale",
        "order": 6,
        "width": "0",
        "height": "0",
        "format": "<md-button \n    ng-style=\"{color:'black', background:'lime'}\"\n    ng-disabled='false'\n    ng-click=\"send({payload:true})\">Zero Scale</md-button>\n",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 110,
        "y": 400,
        "wires": [
            [
                "804a48db.900398"
            ]
        ]
    },
    {
        "id": "804a48db.900398",
        "type": "mqtt out",
        "z": "b2c87d64.2d69",
        "name": "",
        "topic": "SMC/Scale1/ZeroScale",
        "qos": "0",
        "retain": "false",
        "broker": "fe7df95e.65a988",
        "x": 330,
        "y": 400,
        "wires": []
    },
    {
        "id": "a19e9679.89a8f8",
        "type": "ui_text",
        "z": "b2c87d64.2d69",
        "group": "762d27e6.db88d8",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "Valid Data",
        "label": "Valid Data",
        "format": "<font color={{(msg.payload == false) ? 'red' : 'lime'}} size=\"6\" ><i class=\"fa fa-circle\"></i></font>",
        "layout": "row-center",
        "x": 750,
        "y": 180,
        "wires": []
    },
    {
        "id": "14a84546.297b0b",
        "type": "ui_chart",
        "z": "b2c87d64.2d69",
        "name": "Time chart",
        "group": "762d27e6.db88d8",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 750,
        "y": 100,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c5ac4420.751f58",
        "type": "mqtt in",
        "z": "b2c87d64.2d69",
        "name": "",
        "topic": "SMC/Scale1/DataValid",
        "qos": "0",
        "broker": "fe7df95e.65a988",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "bbdfa706.1c5bd8"
            ]
        ]
    },
    {
        "id": "bbdfa706.1c5bd8",
        "type": "json",
        "z": "b2c87d64.2d69",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 180,
        "wires": [
            [
                "a19e9679.89a8f8"
            ]
        ]
    },
    {
        "id": "a284d3a8.623b",
        "type": "mqtt in",
        "z": "b2c87d64.2d69",
        "name": "",
        "topic": "SMC/Scale1/Unit",
        "qos": "0",
        "broker": "fe7df95e.65a988",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "22a4dad3.f3ec46"
            ]
        ]
    },
    {
        "id": "22a4dad3.f3ec46",
        "type": "function",
        "z": "b2c87d64.2d69",
        "name": "Add Unit and Weight",
        "func": "if (msg.topic == 'SMC/Scale1/Unit')\n{\n    context.set('unit', msg.payload);\n    return null;\n}\nvar unit = context.get('unit');\nif (unit == undefined) unit = ' ';\nreturn {'topic':msg.topic, 'payload':msg.payload, 'label':unit};",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 80,
        "wires": [
            [
                "6059660e.b5b7d8",
                "14a84546.297b0b"
            ]
        ]
    },
    {
        "id": "44580258.a5c45c",
        "type": "mqtt in",
        "z": "b2c87d64.2d69",
        "name": "",
        "topic": "SMC/Scale1/TimeStamp",
        "qos": "0",
        "broker": "fe7df95e.65a988",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "2984b301.17915c"
            ]
        ]
    },
    {
        "id": "2984b301.17915c",
        "type": "function",
        "z": "b2c87d64.2d69",
        "name": "Convert to Date and Time",
        "func": "var timeStamp = new Date(Number(msg.payload));\nmsg.payload = timeStamp.toLocaleString(); \nreturn {'topic':'date','payload':timeStamp.toISOString()};",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 240,
        "wires": [
            [
                "fc009ce8.75848"
            ]
        ]
    },
    {
        "id": "fc009ce8.75848",
        "type": "ui_text",
        "z": "b2c87d64.2d69",
        "group": "762d27e6.db88d8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Date",
        "label": "Time Stamp",
        "format": "<font color='lime'>{{msg.payload}}</font>",
        "layout": "col-center",
        "x": 740,
        "y": 240,
        "wires": []
    }
]