gg-scale-ui/opc-ua/flows.json
[
    {
        "id": "465cfd27.107674",
        "type": "tab",
        "label": "gg-scale-ui-opcua",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6ad7c930.1a06b8",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#9e9c0a",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#9e9c0a",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#9e9c0a",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#e6e30f",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#9e9c0a",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "GG-SCALE UI OPCUA",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "366ed23a.21144e",
        "type": "OpcUa-Endpoint",
        "z": "465cfd27.107674",
        "endpoint": "opc.tcp://localhost:4334/UA/gg-scale-server",
        "login": true
    },
    {
        "id": "22cd3988.a5e166",
        "type": "ui_group",
        "z": "",
        "name": "Weight",
        "tab": "de9d6da2.9de1",
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "de9d6da2.9de1",
        "type": "ui_tab",
        "z": "",
        "name": "GG-SCALE UI OPCUA",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "dd11a017.ef182",
        "type": "debug",
        "z": "465cfd27.107674",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 870,
        "y": 60,
        "wires": []
    },
    {
        "id": "fb56a66d.407518",
        "type": "OpcUa-Item",
        "z": "465cfd27.107674",
        "item": "ns=2;s=weight01",
        "datatype": "Double",
        "value": "",
        "name": "gg-scale - weight01",
        "x": 370,
        "y": 40,
        "wires": [
            [
                "935d0655.a58518"
            ]
        ]
    },
    {
        "id": "935d0655.a58518",
        "type": "OpcUa-Client",
        "z": "465cfd27.107674",
        "endpoint": "366ed23a.21144e",
        "action": "read",
        "time": "1",
        "timeUnit": "s",
        "name": "Test server (read items)",
        "x": 650,
        "y": 40,
        "wires": [
            [
                "dd11a017.ef182"
            ]
        ]
    },
    {
        "id": "91c96299.0254b",
        "type": "inject",
        "z": "465cfd27.107674",
        "name": "Read",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "fb56a66d.407518"
            ]
        ]
    },
    {
        "id": "7be2970e.90adf8",
        "type": "OpcUa-Item",
        "z": "465cfd27.107674",
        "item": "ns=2;s=weight01",
        "datatype": "Double",
        "value": "",
        "name": "gg-scale - weight01",
        "x": 450,
        "y": 280,
        "wires": [
            [
                "7fc7d547.f16f6c"
            ]
        ]
    },
    {
        "id": "7fc7d547.f16f6c",
        "type": "OpcUa-Client",
        "z": "465cfd27.107674",
        "endpoint": "366ed23a.21144e",
        "action": "write",
        "time": "",
        "name": "Test server (write items)",
        "x": 730,
        "y": 280,
        "wires": [
            [
                "589e2f40.fb217"
            ]
        ]
    },
    {
        "id": "65a9914d.f487",
        "type": "inject",
        "z": "465cfd27.107674",
        "name": "Write",
        "topic": "",
        "payload": "42",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "222f3dc6.ca5402"
            ]
        ]
    },
    {
        "id": "222f3dc6.ca5402",
        "type": "function",
        "z": "465cfd27.107674",
        "name": "count",
        "func": "var counter = context.get('counter');\nif (counter == undefined) counter = msg.payload;\ncounter = counter + 1;\ncontext.set('counter', counter);\nmsg.payload = counter;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 280,
        "wires": [
            [
                "7be2970e.90adf8"
            ]
        ]
    },
    {
        "id": "8b71018d.22b7c",
        "type": "inject",
        "z": "465cfd27.107674",
        "name": "Subscribe ( Interval 1 sec.)",
        "topic": "",
        "payload": "1000",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 180,
        "y": 560,
        "wires": [
            [
                "2947d38d.a3c27c",
                "e103486c.b7b5a8",
                "c46a378.041e6c8",
                "96ab6648.a2bb78"
            ]
        ]
    },
    {
        "id": "269b4072.d6152",
        "type": "debug",
        "z": "465cfd27.107674",
        "name": "Subscribed values",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1010,
        "y": 560,
        "wires": []
    },
    {
        "id": "bc7a69e.c814e98",
        "type": "OpcUa-Client",
        "z": "465cfd27.107674",
        "endpoint": "366ed23a.21144e",
        "action": "subscribe",
        "time": "1",
        "timeUnit": "s",
        "name": "Test server (subscribe items)",
        "x": 740,
        "y": 560,
        "wires": [
            [
                "d70784da.a6c558"
            ]
        ]
    },
    {
        "id": "2947d38d.a3c27c",
        "type": "OpcUa-Item",
        "z": "465cfd27.107674",
        "item": "ns=2;s=weight01",
        "datatype": "Double",
        "value": "",
        "name": "gg-scale - weight01",
        "x": 470,
        "y": 560,
        "wires": [
            [
                "bc7a69e.c814e98"
            ]
        ]
    },
    {
        "id": "ef87062b.53e268",
        "type": "OpcUa-Item",
        "z": "465cfd27.107674",
        "item": "ns=2;s=validData01",
        "datatype": "Boolean",
        "value": "",
        "name": "gg-scale - validData01",
        "x": 360,
        "y": 80,
        "wires": [
            [
                "935d0655.a58518"
            ]
        ]
    },
    {
        "id": "46846244.fb258c",
        "type": "inject",
        "z": "465cfd27.107674",
        "name": "Read",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "ef87062b.53e268"
            ]
        ]
    },
    {
        "id": "4a07fb7d.b64804",
        "type": "OpcUa-Item",
        "z": "465cfd27.107674",
        "item": "ns=2;s=validData01",
        "datatype": "Boolean",
        "value": "",
        "name": "gg-scale - validData01",
        "x": 440,
        "y": 320,
        "wires": [
            [
                "7fc7d547.f16f6c"
            ]
        ]
    },
    {
        "id": "d1de1166.c8b1f",
        "type": "inject",
        "z": "465cfd27.107674",
        "name": "Write",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 110,
        "y": 320,
        "wires": [
            [
                "8aedae4f.457bd"
            ]
        ]
    },
    {
        "id": "8aedae4f.457bd",
        "type": "function",
        "z": "465cfd27.107674",
        "name": "toggle",
        "func": "var toggle = context.get('toggle');\nif (toggle == undefined) toggle = msg.payload;\ntoggle = !toggle;\ncontext.set('toggle', toggle);\nmsg.payload = toggle;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 320,
        "wires": [
            [
                "4a07fb7d.b64804"
            ]
        ]
    },
    {
        "id": "e103486c.b7b5a8",
        "type": "OpcUa-Item",
        "z": "465cfd27.107674",
        "item": "ns=2;s=validData01",
        "datatype": "Int16",
        "value": "",
        "name": "gg-scale - validData01",
        "x": 460,
        "y": 600,
        "wires": [
            [
                "bc7a69e.c814e98"
            ]
        ]
    },
    {
        "id": "5f602999.d21f68",
        "type": "OpcUa-Item",
        "z": "465cfd27.107674",
        "item": "ns=2;s=timeStamp01",
        "datatype": "String",
        "value": "",
        "name": "gg-scale - timeStamp01",
        "x": 350,
        "y": 120,
        "wires": [
            [
                "935d0655.a58518"
            ]
        ]
    },
    {
        "id": "9d8669c6.1fa908",
        "type": "inject",
        "z": "465cfd27.107674",
        "name": "Read",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "5f602999.d21f68"
            ]
        ]
    },
    {
        "id": "6ea0e2c.d36751c",
        "type": "OpcUa-Item",
        "z": "465cfd27.107674",
        "item": "ns=2;s=timeStamp01",
        "datatype": "String",
        "value": "",
        "name": "gg-scale - timeStamp01",
        "x": 430,
        "y": 360,
        "wires": [
            [
                "7fc7d547.f16f6c"
            ]
        ]
    },
    {
        "id": "14e737b5.84e168",
        "type": "inject",
        "z": "465cfd27.107674",
        "name": "Write",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "8d84a3a1.ee5be"
            ]
        ]
    },
    {
        "id": "8d84a3a1.ee5be",
        "type": "function",
        "z": "465cfd27.107674",
        "name": "toString",
        "func": "msg.payload = msg.payload.toString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 360,
        "wires": [
            [
                "6ea0e2c.d36751c"
            ]
        ]
    },
    {
        "id": "c46a378.041e6c8",
        "type": "OpcUa-Item",
        "z": "465cfd27.107674",
        "item": "ns=2;s=timeStamp01",
        "datatype": "String",
        "value": "",
        "name": "gg-scale - timeStamp01",
        "x": 450,
        "y": 640,
        "wires": [
            [
                "bc7a69e.c814e98"
            ]
        ]
    },
    {
        "id": "a3607daa.bcd81",
        "type": "OpcUa-Item",
        "z": "465cfd27.107674",
        "item": "ns=2;s=unit01",
        "datatype": "String",
        "value": "",
        "name": "gg-scale - unit01",
        "x": 370,
        "y": 160,
        "wires": [
            [
                "935d0655.a58518"
            ]
        ]
    },
    {
        "id": "8d9ac8ca.471648",
        "type": "inject",
        "z": "465cfd27.107674",
        "name": "Read",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "a3607daa.bcd81"
            ]
        ]
    },
    {
        "id": "8c1acf71.8da7a",
        "type": "OpcUa-Item",
        "z": "465cfd27.107674",
        "item": "ns=2;s=unit01",
        "datatype": "String",
        "value": "",
        "name": "gg-scale - unit01",
        "x": 450,
        "y": 400,
        "wires": [
            [
                "7fc7d547.f16f6c"
            ]
        ]
    },
    {
        "id": "da2f1d3b.c159c",
        "type": "inject",
        "z": "465cfd27.107674",
        "name": "Write",
        "topic": "",
        "payload": "Howdy",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 110,
        "y": 400,
        "wires": [
            [
                "8c1acf71.8da7a"
            ]
        ]
    },
    {
        "id": "96ab6648.a2bb78",
        "type": "OpcUa-Item",
        "z": "465cfd27.107674",
        "item": "ns=2;s=unit01",
        "datatype": "String",
        "value": "",
        "name": "gg-scale - unit01",
        "x": 470,
        "y": 680,
        "wires": [
            [
                "bc7a69e.c814e98"
            ]
        ]
    },
    {
        "id": "589e2f40.fb217",
        "type": "debug",
        "z": "465cfd27.107674",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 950,
        "y": 280,
        "wires": []
    },
    {
        "id": "4b9d64e2.8f56cc",
        "type": "ui_gauge",
        "z": "465cfd27.107674",
        "name": "Weight",
        "group": "22cd3988.a5e166",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "{{msg.topic}}",
        "label": "",
        "format": "{{value}}",
        "min": "-300",
        "max": "300",
        "colors": [
            "#ca3838",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "-150",
        "seg2": "150",
        "x": 1210,
        "y": 620,
        "wires": []
    },
    {
        "id": "d70784da.a6c558",
        "type": "function",
        "z": "465cfd27.107674",
        "name": "Parse Data",
        "func": "if (msg.topic.indexOf('weight') > -1) context.set('weight',msg.payload);\nif (msg.topic.indexOf('validData') > -1) context.set('validData',msg.payload);\nif (msg.topic.indexOf('unit') > -1) context.set('unit',msg.payload);\nif (msg.topic.indexOf('timeStamp') > -1) context.set('timeStamp',msg.payload);\nvar weight = context.get('weight');\nvar validData = context.get('validData');\nvar unit = context.get('unit');\nvar timeStamp = context.get('timeStamp');\nif (weight == undefined) weight = 0.0;\nif (validData == undefined) validData = false;\nif (unit == undefined) unit = '';\nif (timeStamp == undefined) timeStamp = '';\nvar newMsg = \n{\n    'topic':'validData',\n    'payload':validData\n}\nreturn [{'topic':unit, 'payload':weight},newMsg];",
        "outputs": 2,
        "noerr": 0,
        "x": 970,
        "y": 640,
        "wires": [
            [
                "4b9d64e2.8f56cc",
                "c379f64b.9992c8"
            ],
            [
                "d5aaed55.f37be"
            ]
        ]
    },
    {
        "id": "d5aaed55.f37be",
        "type": "ui_text",
        "z": "465cfd27.107674",
        "group": "22cd3988.a5e166",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "Valid Data",
        "label": "Valid Data",
        "format": "<font color={{(msg.payload == false) ? 'red' : 'lime'}} size=\"6\" ><i class=\"fa fa-circle\"></i></font>",
        "layout": "row-center",
        "x": 1230,
        "y": 700,
        "wires": []
    },
    {
        "id": "c379f64b.9992c8",
        "type": "ui_chart",
        "z": "465cfd27.107674",
        "name": "Time chart",
        "group": "22cd3988.a5e166",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 1230,
        "y": 660,
        "wires": [
            [],
            []
        ]
    }
]