gg-scale-dma/flows.json
[
    {
        "id": "465cfd27.107674",
        "type": "tab",
        "label": "gg-scale-dma",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b2c87d64.2d69",
        "type": "tab",
        "label": "gg-scale-dma-ui",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6ad7c930.1a06b8",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#04b628",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#04b628",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#04b628",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0dfa3d",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#04b628",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "GG-SCALE DMA Blinky-Lite",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "43d1b8d2.ba5798",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": true
    },
    {
        "id": "fe7df95e.65a988",
        "type": "mqtt-broker",
        "z": "",
        "name": "SMC",
        "broker": "broker.shiftr.io",
        "port": "1883",
        "clientid": "Scale1DMA",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "762d27e6.db88d8",
        "type": "ui_group",
        "z": "",
        "name": "Weight",
        "tab": "187e2772.eeb299",
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "187e2772.eeb299",
        "type": "ui_tab",
        "z": "",
        "name": "GG-SCALE DMA Blinky-Lite",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "8c75b220.c4295",
        "type": "OpcUa-Endpoint",
        "z": "465cfd27.107674",
        "endpoint": "opc.tcp://blinky-lite-02.local:4334/SMC",
        "login": true
    },
    {
        "id": "6189d802.3ef1a8",
        "type": "mqtt-broker",
        "z": "",
        "name": "SMC2",
        "broker": "broker.shiftr.io",
        "port": "1883",
        "clientid": "Scale1UI",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "c808ce9.a7f7d3",
        "type": "serial out",
        "z": "465cfd27.107674",
        "name": "gg-scale-01",
        "serial": "43d1b8d2.ba5798",
        "x": 1010,
        "y": 760,
        "wires": []
    },
    {
        "id": "10881512.12757b",
        "type": "serial in",
        "z": "465cfd27.107674",
        "name": "gg-scale-01",
        "serial": "43d1b8d2.ba5798",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "269ea255.74ec8e"
            ]
        ]
    },
    {
        "id": "60b438dd.eb8028",
        "type": "inject",
        "z": "465cfd27.107674",
        "name": "Rep",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": ".05",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 230,
        "y": 980,
        "wires": [
            [
                "820d6a96.be4928"
            ]
        ]
    },
    {
        "id": "3b9f2aae.3ea6c6",
        "type": "function",
        "z": "465cfd27.107674",
        "name": "Get Weight",
        "func": "var buffer = new Buffer([0x1b, 0x70]);\nreturn {'topic':'print','payload':buffer};\n",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 980,
        "wires": [
            [
                "c808ce9.a7f7d3"
            ]
        ]
    },
    {
        "id": "269ea255.74ec8e",
        "type": "function",
        "z": "465cfd27.107674",
        "name": "Read Weight",
        "func": "var dataString = msg.payload;\nvar sign = +1;\nif (dataString.substring(0,1) == '-') sign = -1;\nvar weight = sign * Number(dataString.substring(2,9));\nvar unit = dataString.substring(9,12).trim();\nvar validData = true;\nvar timeStamp = new Date().getTime();\nif (unit.length < 1) validData = false;\nflow.set('scaleReady',true);\nreturn [\n    {'topic':'SMC/Scale1/Weight','payload':weight},\n    {'topic':'SMC/Scale1/DataValid','payload':validData},\n    {'topic':'SMC/Scale1/TimeStamp','payload':timeStamp.toString()},\n    {'topic':'SMC/Scale1/Unit','payload':unit},\n    ];",
        "outputs": 4,
        "noerr": 0,
        "x": 330,
        "y": 200,
        "wires": [
            [
                "95e2b18c.fd503",
                "2246d52d.43711a"
            ],
            [
                "6889c255.27c0fc",
                "e27d6512.0acc68"
            ],
            [
                "90f26aa4.40d988",
                "d5e561ae.dca8f"
            ],
            [
                "d5619903.c3fcd8",
                "bb5e1798.cfd098"
            ]
        ]
    },
    {
        "id": "f03cc237.efcc6",
        "type": "function",
        "z": "465cfd27.107674",
        "name": "Toggle Units",
        "func": "var buffer = new Buffer([0x1b, 0x73]);\nreturn {'topic':'print','payload':buffer};\n",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 620,
        "wires": [
            [
                "c808ce9.a7f7d3"
            ]
        ]
    },
    {
        "id": "442d2670.a01948",
        "type": "function",
        "z": "465cfd27.107674",
        "name": "Zero Scale",
        "func": "var buffer = new Buffer([0x1b, 0x74]);\nreturn {'topic':'print','payload':buffer};\n",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 860,
        "wires": [
            [
                "c808ce9.a7f7d3"
            ]
        ]
    },
    {
        "id": "95e2b18c.fd503",
        "type": "mqtt out",
        "z": "465cfd27.107674",
        "name": "Weight",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "broker": "fe7df95e.65a988",
        "x": 550,
        "y": 20,
        "wires": []
    },
    {
        "id": "3e18ddfb.4334f2",
        "type": "mqtt in",
        "z": "465cfd27.107674",
        "name": "",
        "topic": "SMC/Scale1/ZeroScale",
        "qos": "0",
        "broker": "fe7df95e.65a988",
        "x": 260,
        "y": 840,
        "wires": [
            [
                "442d2670.a01948"
            ]
        ]
    },
    {
        "id": "3420bfc2.0027c",
        "type": "mqtt in",
        "z": "465cfd27.107674",
        "name": "",
        "topic": "SMC/Scale1/ToggleUnit",
        "qos": "0",
        "broker": "fe7df95e.65a988",
        "x": 260,
        "y": 620,
        "wires": [
            [
                "f03cc237.efcc6"
            ]
        ]
    },
    {
        "id": "d8579591.483fe8",
        "type": "inject",
        "z": "465cfd27.107674",
        "name": "toggleUnits",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 250,
        "y": 680,
        "wires": [
            [
                "f03cc237.efcc6"
            ]
        ]
    },
    {
        "id": "9a56c5c.ec47038",
        "type": "inject",
        "z": "465cfd27.107674",
        "name": "Zero Scale",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 240,
        "y": 900,
        "wires": [
            [
                "442d2670.a01948"
            ]
        ]
    },
    {
        "id": "def87154.166cc",
        "type": "inject",
        "z": "465cfd27.107674",
        "name": "init",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 130,
        "y": 20,
        "wires": [
            [
                "1c9b9184.e3b7ce"
            ]
        ]
    },
    {
        "id": "1c9b9184.e3b7ce",
        "type": "function",
        "z": "465cfd27.107674",
        "name": "Init scaleReady",
        "func": "flow.set('scaleReady',true);\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "820d6a96.be4928",
        "type": "function",
        "z": "465cfd27.107674",
        "name": "Check scale ready",
        "func": "if (!flow.get('scaleReady')) return null;\nflow.set('scaleReady',false);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 980,
        "wires": [
            [
                "3b9f2aae.3ea6c6"
            ]
        ]
    },
    {
        "id": "2246d52d.43711a",
        "type": "OpcUa-Item",
        "z": "465cfd27.107674",
        "item": "ns=2;s=Weight",
        "datatype": "Double",
        "value": "",
        "name": "Scale1.Weight",
        "x": 580,
        "y": 80,
        "wires": [
            [
                "835c4625.aac498"
            ]
        ]
    },
    {
        "id": "835c4625.aac498",
        "type": "OpcUa-Client",
        "z": "465cfd27.107674",
        "endpoint": "8c75b220.c4295",
        "action": "write",
        "time": "",
        "name": "Test server (write items)",
        "x": 910,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "e27d6512.0acc68",
        "type": "OpcUa-Item",
        "z": "465cfd27.107674",
        "item": "ns=2;s=DataValid",
        "datatype": "Boolean",
        "value": "",
        "name": "Scale1.DataValid",
        "x": 590,
        "y": 200,
        "wires": [
            [
                "835c4625.aac498"
            ]
        ]
    },
    {
        "id": "d5e561ae.dca8f",
        "type": "OpcUa-Item",
        "z": "465cfd27.107674",
        "item": "ns=2;s=TimeStamp",
        "datatype": "String",
        "value": "",
        "name": "Scale1.TimeStamp",
        "x": 590,
        "y": 320,
        "wires": [
            [
                "835c4625.aac498"
            ]
        ]
    },
    {
        "id": "bb5e1798.cfd098",
        "type": "OpcUa-Item",
        "z": "465cfd27.107674",
        "item": "ns=2;s=Unit",
        "datatype": "String",
        "value": "",
        "name": "Scale1.Unit",
        "x": 570,
        "y": 440,
        "wires": [
            [
                "835c4625.aac498"
            ]
        ]
    },
    {
        "id": "6889c255.27c0fc",
        "type": "mqtt out",
        "z": "465cfd27.107674",
        "name": "DataValid",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "broker": "fe7df95e.65a988",
        "x": 560,
        "y": 140,
        "wires": []
    },
    {
        "id": "90f26aa4.40d988",
        "type": "mqtt out",
        "z": "465cfd27.107674",
        "name": "TimeStamp",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "broker": "fe7df95e.65a988",
        "x": 570,
        "y": 260,
        "wires": []
    },
    {
        "id": "d5619903.c3fcd8",
        "type": "mqtt out",
        "z": "465cfd27.107674",
        "name": "Unit",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "broker": "fe7df95e.65a988",
        "x": 550,
        "y": 380,
        "wires": []
    },
    {
        "id": "47b583fe.44e5dc",
        "type": "mqtt in",
        "z": "b2c87d64.2d69",
        "name": "",
        "topic": "SMC/Scale1/Weight",
        "qos": "0",
        "broker": "6189d802.3ef1a8",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "305469b9.b090f6"
            ]
        ]
    },
    {
        "id": "305469b9.b090f6",
        "type": "json",
        "z": "b2c87d64.2d69",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 80,
        "wires": [
            [
                "3ea0507e.86592"
            ]
        ]
    },
    {
        "id": "c9f6f3f2.f9ab2",
        "type": "ui_gauge",
        "z": "b2c87d64.2d69",
        "name": "Weight",
        "group": "762d27e6.db88d8",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "{{msg.label}}",
        "label": "",
        "format": "{{value}}",
        "min": "-300",
        "max": "300",
        "colors": [
            "#ca3838",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "-150",
        "seg2": "150",
        "x": 750,
        "y": 60,
        "wires": []
    },
    {
        "id": "501e3f65.e9cec",
        "type": "ui_template",
        "z": "b2c87d64.2d69",
        "group": "762d27e6.db88d8",
        "name": "Toggle Unit",
        "order": 4,
        "width": "0",
        "height": "0",
        "format": "<md-button \n    ng-style=\"{color:'black', background:'lime'}\"\n    ng-disabled='false'\n    ng-click=\"send({payload:true})\">Toggle Unit</md-button>\n",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 150,
        "y": 400,
        "wires": [
            [
                "bfb9fe7d.2dfa"
            ]
        ]
    },
    {
        "id": "bfb9fe7d.2dfa",
        "type": "mqtt out",
        "z": "b2c87d64.2d69",
        "name": "",
        "topic": "SMC/Scale1/ToggleUnit",
        "qos": "0",
        "retain": "false",
        "broker": "6189d802.3ef1a8",
        "x": 370,
        "y": 400,
        "wires": []
    },
    {
        "id": "42f6ff50.6e9dc",
        "type": "ui_template",
        "z": "b2c87d64.2d69",
        "group": "762d27e6.db88d8",
        "name": "Zero Scale",
        "order": 5,
        "width": "0",
        "height": "0",
        "format": "<md-button \n    ng-style=\"{color:'black', background:'lime'}\"\n    ng-disabled='false'\n    ng-click=\"send({payload:true})\">Zero Scale</md-button>\n",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 150,
        "y": 460,
        "wires": [
            [
                "6eff974c.eed5c8"
            ]
        ]
    },
    {
        "id": "6eff974c.eed5c8",
        "type": "mqtt out",
        "z": "b2c87d64.2d69",
        "name": "",
        "topic": "SMC/Scale1/ZeroScale",
        "qos": "0",
        "retain": "false",
        "broker": "6189d802.3ef1a8",
        "x": 370,
        "y": 460,
        "wires": []
    },
    {
        "id": "27180c01.cb17f4",
        "type": "ui_text",
        "z": "b2c87d64.2d69",
        "group": "762d27e6.db88d8",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "Valid Data",
        "label": "Valid Data",
        "format": "<font color={{(msg.payload == false) ? 'red' : 'lime'}} size=\"6\" ><i class=\"fa fa-circle\"></i></font>",
        "layout": "row-center",
        "x": 770,
        "y": 200,
        "wires": []
    },
    {
        "id": "5a46f743.369c28",
        "type": "ui_chart",
        "z": "b2c87d64.2d69",
        "name": "Time chart",
        "group": "762d27e6.db88d8",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 770,
        "y": 120,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "53904c38.e0e114",
        "type": "mqtt in",
        "z": "b2c87d64.2d69",
        "name": "",
        "topic": "SMC/Scale1/DataValid",
        "qos": "0",
        "broker": "6189d802.3ef1a8",
        "x": 160,
        "y": 200,
        "wires": [
            [
                "d7296db5.84083"
            ]
        ]
    },
    {
        "id": "d7296db5.84083",
        "type": "json",
        "z": "b2c87d64.2d69",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 200,
        "wires": [
            [
                "27180c01.cb17f4"
            ]
        ]
    },
    {
        "id": "efe990d1.63ccb",
        "type": "mqtt in",
        "z": "b2c87d64.2d69",
        "name": "",
        "topic": "SMC/Scale1/Unit",
        "qos": "0",
        "broker": "6189d802.3ef1a8",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "3ea0507e.86592"
            ]
        ]
    },
    {
        "id": "3ea0507e.86592",
        "type": "function",
        "z": "b2c87d64.2d69",
        "name": "Add Unit and Weight",
        "func": "if (msg.topic == 'SMC/Scale1/Unit')\n{\n    context.set('unit', msg.payload);\n    return null;\n}\nvar unit = context.get('unit');\nif (unit == undefined) unit = ' ';\nreturn {'topic':msg.topic, 'payload':msg.payload, 'label':unit};",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 100,
        "wires": [
            [
                "c9f6f3f2.f9ab2",
                "5a46f743.369c28"
            ]
        ]
    },
    {
        "id": "43e72449.bc9eac",
        "type": "inject",
        "z": "465cfd27.107674",
        "name": "Subscribe ( Interval 1 sec.)",
        "topic": "",
        "payload": "1000",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 200,
        "y": 520,
        "wires": [
            [
                "eecf7885.243d58",
                "2eef4a37.7d9f26"
            ]
        ]
    },
    {
        "id": "eecf7885.243d58",
        "type": "OpcUa-Item",
        "z": "465cfd27.107674",
        "item": "ns=2;s=ToggleUnit",
        "datatype": "Boolean",
        "value": "",
        "name": "Scale1.ToggleUnit",
        "x": 470,
        "y": 500,
        "wires": [
            [
                "cf4e31ab.d4202"
            ]
        ]
    },
    {
        "id": "cf4e31ab.d4202",
        "type": "OpcUa-Client",
        "z": "465cfd27.107674",
        "endpoint": "8c75b220.c4295",
        "action": "subscribe",
        "time": "200",
        "timeUnit": "ms",
        "name": "Test server (subscribe items)",
        "x": 720,
        "y": 520,
        "wires": [
            [
                "6e54bd82.5ce6c4",
                "1a848e3.794f772"
            ]
        ]
    },
    {
        "id": "6e54bd82.5ce6c4",
        "type": "debug",
        "z": "465cfd27.107674",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 950,
        "y": 440,
        "wires": []
    },
    {
        "id": "5e5cc7a3.cd9aa8",
        "type": "function",
        "z": "465cfd27.107674",
        "name": "Get Toggle",
        "func": "if (msg.topic.indexOf('ToggleUnit') > -1)\n{\n    if (msg.payload)\n    {\n        msg.payload = false;\n        return [msg, null];\n    }\n    else\n    {\n        return [null, null];\n    }\n}\nif (msg.topic.indexOf('ZeroScale') > -1)\n{\n    if (msg.payload)\n    {\n        msg.payload = false;\n        return [null, msg];\n    }\n    else\n    {\n        return [null, null];\n    }\n}\nreturn [null, null];",
        "outputs": 2,
        "noerr": 0,
        "x": 230,
        "y": 760,
        "wires": [
            [
                "6cd2a17.7ae326",
                "f03cc237.efcc6"
            ],
            [
                "e6cd0f7e.b6fbe",
                "442d2670.a01948"
            ]
        ]
    },
    {
        "id": "6cd2a17.7ae326",
        "type": "OpcUa-Item",
        "z": "465cfd27.107674",
        "item": "ns=2;s=ToggleUnit",
        "datatype": "Boolean",
        "value": "",
        "name": "Scale1.ToggleUnit",
        "x": 490,
        "y": 740,
        "wires": [
            [
                "e12bb3ae.5ec6c"
            ]
        ]
    },
    {
        "id": "e12bb3ae.5ec6c",
        "type": "OpcUa-Client",
        "z": "465cfd27.107674",
        "endpoint": "8c75b220.c4295",
        "action": "write",
        "time": "",
        "name": "Test server (write items)",
        "x": 730,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "2eef4a37.7d9f26",
        "type": "OpcUa-Item",
        "z": "465cfd27.107674",
        "item": "ns=2;s=ZeroScale",
        "datatype": "Boolean",
        "value": "",
        "name": "Scale1.ZeroScale",
        "x": 470,
        "y": 540,
        "wires": [
            [
                "cf4e31ab.d4202"
            ]
        ]
    },
    {
        "id": "e6cd0f7e.b6fbe",
        "type": "OpcUa-Item",
        "z": "465cfd27.107674",
        "item": "ns=2;s=ZeroScale",
        "datatype": "Boolean",
        "value": "",
        "name": "Scale1.ZeroScale",
        "x": 490,
        "y": 780,
        "wires": [
            [
                "e12bb3ae.5ec6c"
            ]
        ]
    },
    {
        "id": "1a848e3.794f772",
        "type": "link out",
        "z": "465cfd27.107674",
        "name": "OPCUA Unit and Zero Toggle",
        "links": [
            "73bbee36.d4868"
        ],
        "x": 895,
        "y": 520,
        "wires": []
    },
    {
        "id": "73bbee36.d4868",
        "type": "link in",
        "z": "465cfd27.107674",
        "name": "",
        "links": [
            "1a848e3.794f772"
        ],
        "x": 95,
        "y": 760,
        "wires": [
            [
                "5e5cc7a3.cd9aa8"
            ]
        ]
    }
]