blinky-lite-ui/flows.json
[
    {
        "id": "465cfd27.107674",
        "type": "tab",
        "label": "Scale1-ui-blinky-lite-ui-opcua",
        "disabled": false,
        "info": ""
    },
    {
        "id": "64d1ba70.886f94",
        "type": "tab",
        "label": "Scale1-ui-blinky-lite-mqtt",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6ad7c930.1a06b8",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#4aed0b",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#4aed0b",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#4aed0b",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#7df74e",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#4aed0b",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "GG-SCALE-UI",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "366ed23a.21144e",
        "type": "OpcUa-Endpoint",
        "z": "465cfd27.107674",
        "endpoint": "opc.tcp://localhost:4334/SMC",
        "login": true
    },
    {
        "id": "22cd3988.a5e166",
        "type": "ui_group",
        "z": "",
        "name": "OPC-UA",
        "tab": "2f7a58c1.1378a8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "aecbf6d3.8470c8",
        "type": "mqtt-broker",
        "z": "",
        "name": "SMC",
        "broker": "blinky-lite-02.local",
        "port": "1883",
        "clientid": "ScaleUI",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "bfb4d79e.5b0258",
        "type": "ui_group",
        "z": "",
        "name": "MQTT",
        "tab": "2f7a58c1.1378a8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2f7a58c1.1378a8",
        "type": "ui_tab",
        "z": "",
        "name": "Scale 01",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "8b71018d.22b7c",
        "type": "inject",
        "z": "465cfd27.107674",
        "name": "Subscribe ( Interval 1 sec.)",
        "topic": "",
        "payload": "1000",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "67d65d18.1b58d4",
                "6633494d.191128",
                "18536b33.5038d5",
                "66e26b68.0ffe94"
            ]
        ]
    },
    {
        "id": "bc7a69e.c814e98",
        "type": "OpcUa-Client",
        "z": "465cfd27.107674",
        "endpoint": "366ed23a.21144e",
        "action": "subscribe",
        "time": "200",
        "timeUnit": "ms",
        "name": "Test server (subscribe items)",
        "x": 740,
        "y": 100,
        "wires": [
            [
                "d70784da.a6c558"
            ]
        ]
    },
    {
        "id": "4b9d64e2.8f56cc",
        "type": "ui_gauge",
        "z": "465cfd27.107674",
        "name": "Weight",
        "group": "22cd3988.a5e166",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "{{msg.topic}}",
        "label": "",
        "format": "{{value}}",
        "min": "-300",
        "max": "300",
        "colors": [
            "#ca3838",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "-150",
        "seg2": "150",
        "x": 1150,
        "y": 60,
        "wires": []
    },
    {
        "id": "d70784da.a6c558",
        "type": "function",
        "z": "465cfd27.107674",
        "name": "Parse Data",
        "func": "if (msg.topic.indexOf('Weight') > -1) context.set('Weight',msg.payload);\nif (msg.topic.indexOf('DataValid') > -1) context.set('DataValid',msg.payload);\nif (msg.topic.indexOf('Unit') > -1) context.set('Unit',msg.payload);\nif (msg.topic.indexOf('TimeStamp') > -1)\n    context.set('TimeStamp',new Date(Number(msg.payload)).toISOString());\nvar Weight = context.get('Weight');\nvar DataValid = context.get('DataValid');\nvar Unit = context.get('Unit');\nvar TimeStamp = context.get('TimeStamp');\nif (Weight == undefined) Weight = 0.0;\nif (DataValid == undefined) DataValid = false;\nif (Unit == undefined) Unit = '';\nif (TimeStamp == undefined) TimeStamp = '';\nvar weightMsg = \n{\n    'topic':Unit,\n    'payload':Weight\n};\nvar dataValidMsg = \n{\n    'topic':'DataValid',\n    'payload':DataValid\n}\nvar timeMsg = \n{\n    'topic':'date',\n    'payload':TimeStamp\n};\n\nreturn [weightMsg, dataValidMsg,timeMsg];",
        "outputs": 3,
        "noerr": 0,
        "x": 970,
        "y": 100,
        "wires": [
            [
                "4b9d64e2.8f56cc",
                "c379f64b.9992c8"
            ],
            [
                "d5aaed55.f37be"
            ],
            [
                "18670e08.193052"
            ]
        ]
    },
    {
        "id": "d5aaed55.f37be",
        "type": "ui_text",
        "z": "465cfd27.107674",
        "group": "22cd3988.a5e166",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "Valid Data",
        "label": "Valid Data",
        "format": "<font color={{(msg.payload == false) ? 'red' : 'lime'}} size=\"6\" ><i class=\"fa fa-circle\"></i></font>",
        "layout": "row-center",
        "x": 1170,
        "y": 140,
        "wires": []
    },
    {
        "id": "c379f64b.9992c8",
        "type": "ui_chart",
        "z": "465cfd27.107674",
        "name": "Time chart",
        "group": "22cd3988.a5e166",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 1170,
        "y": 100,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "67d65d18.1b58d4",
        "type": "OpcUa-Item",
        "z": "465cfd27.107674",
        "item": "ns=2;s=Weight",
        "datatype": "Double",
        "value": "",
        "name": "Scale1.Weight",
        "x": 480,
        "y": 40,
        "wires": [
            [
                "bc7a69e.c814e98"
            ]
        ]
    },
    {
        "id": "6633494d.191128",
        "type": "OpcUa-Item",
        "z": "465cfd27.107674",
        "item": "ns=2;s=DataValid",
        "datatype": "Boolean",
        "value": "",
        "name": "Scale1.DataValid",
        "x": 470,
        "y": 80,
        "wires": [
            [
                "bc7a69e.c814e98"
            ]
        ]
    },
    {
        "id": "18536b33.5038d5",
        "type": "OpcUa-Item",
        "z": "465cfd27.107674",
        "item": "ns=2;s=TimeStamp",
        "datatype": "String",
        "value": "",
        "name": "Scale1.TimeStamp",
        "x": 470,
        "y": 120,
        "wires": [
            [
                "bc7a69e.c814e98"
            ]
        ]
    },
    {
        "id": "66e26b68.0ffe94",
        "type": "OpcUa-Item",
        "z": "465cfd27.107674",
        "item": "ns=2;s=Unit",
        "datatype": "String",
        "value": "",
        "name": "Scale1.Unit",
        "x": 490,
        "y": 160,
        "wires": [
            [
                "bc7a69e.c814e98"
            ]
        ]
    },
    {
        "id": "1b573e37.3ded42",
        "type": "ui_template",
        "z": "465cfd27.107674",
        "group": "22cd3988.a5e166",
        "name": "Toggle Unit",
        "order": 5,
        "width": "0",
        "height": "0",
        "format": "<md-button \n    ng-style=\"{color:'black', background:'lime'}\"\n    ng-disabled='false'\n    ng-click=\"send({payload:true})\">Toggle Unit</md-button>\n",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "285957b0.6e2078"
            ]
        ]
    },
    {
        "id": "1941ca77.881ab6",
        "type": "ui_template",
        "z": "465cfd27.107674",
        "group": "22cd3988.a5e166",
        "name": "Zero Scale",
        "order": 6,
        "width": "0",
        "height": "0",
        "format": "<md-button \n    ng-style=\"{color:'black', background:'lime'}\"\n    ng-disabled='false'\n    ng-click=\"send({payload:true})\">Zero Scale</md-button>\n",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "c9490814.1ff398"
            ]
        ]
    },
    {
        "id": "285957b0.6e2078",
        "type": "OpcUa-Item",
        "z": "465cfd27.107674",
        "item": "ns=2;s=ToggleUnit",
        "datatype": "Boolean",
        "value": "",
        "name": "Scale1.ToggleUnit",
        "x": 470,
        "y": 240,
        "wires": [
            [
                "a237c649.347128"
            ]
        ]
    },
    {
        "id": "a237c649.347128",
        "type": "OpcUa-Client",
        "z": "465cfd27.107674",
        "endpoint": "366ed23a.21144e",
        "action": "write",
        "time": "",
        "name": "Test server (write items)",
        "x": 730,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "c9490814.1ff398",
        "type": "OpcUa-Item",
        "z": "465cfd27.107674",
        "item": "ns=2;s=ZeroScale",
        "datatype": "Boolean",
        "value": "",
        "name": "Scale1.ZeroScale",
        "x": 470,
        "y": 300,
        "wires": [
            [
                "a237c649.347128"
            ]
        ]
    },
    {
        "id": "18670e08.193052",
        "type": "ui_text",
        "z": "465cfd27.107674",
        "group": "22cd3988.a5e166",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Date",
        "label": "Time Stamp",
        "format": "<font color='lime'>{{msg.payload}}</font>",
        "layout": "col-center",
        "x": 1150,
        "y": 180,
        "wires": []
    },
    {
        "id": "69c8f40e.488dac",
        "type": "mqtt in",
        "z": "64d1ba70.886f94",
        "name": "",
        "topic": "SMC/Scale1/Weight",
        "qos": "0",
        "broker": "aecbf6d3.8470c8",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "61919bc9.fbccf4"
            ]
        ]
    },
    {
        "id": "61919bc9.fbccf4",
        "type": "json",
        "z": "64d1ba70.886f94",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 290,
        "y": 60,
        "wires": [
            [
                "a711bc82.85f8a"
            ]
        ]
    },
    {
        "id": "a22ea59e.1a6cf8",
        "type": "ui_gauge",
        "z": "64d1ba70.886f94",
        "name": "Weight",
        "group": "bfb4d79e.5b0258",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "{{msg.label}}",
        "label": "",
        "format": "{{value}}",
        "min": "-300",
        "max": "300",
        "colors": [
            "#ca3838",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "-150",
        "seg2": "150",
        "x": 730,
        "y": 40,
        "wires": []
    },
    {
        "id": "888e17ce.5b04e8",
        "type": "ui_template",
        "z": "64d1ba70.886f94",
        "group": "bfb4d79e.5b0258",
        "name": "Toggle Unit",
        "order": 5,
        "width": "0",
        "height": "0",
        "format": "<md-button \n    ng-style=\"{color:'black', background:'lime'}\"\n    ng-disabled='false'\n    ng-click=\"send({payload:true})\">Toggle Unit</md-button>\n",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 110,
        "y": 320,
        "wires": [
            [
                "3a43cd93.d03e82"
            ]
        ]
    },
    {
        "id": "3a43cd93.d03e82",
        "type": "mqtt out",
        "z": "64d1ba70.886f94",
        "name": "",
        "topic": "SMC/Scale1/ToggleUnit",
        "qos": "0",
        "retain": "false",
        "broker": "aecbf6d3.8470c8",
        "x": 330,
        "y": 320,
        "wires": []
    },
    {
        "id": "171be43a.335ecc",
        "type": "ui_template",
        "z": "64d1ba70.886f94",
        "group": "bfb4d79e.5b0258",
        "name": "Zero Scale",
        "order": 6,
        "width": "0",
        "height": "0",
        "format": "<md-button \n    ng-style=\"{color:'black', background:'lime'}\"\n    ng-disabled='false'\n    ng-click=\"send({payload:true})\">Zero Scale</md-button>\n",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 110,
        "y": 380,
        "wires": [
            [
                "8c503868.4a7d38"
            ]
        ]
    },
    {
        "id": "8c503868.4a7d38",
        "type": "mqtt out",
        "z": "64d1ba70.886f94",
        "name": "",
        "topic": "SMC/Scale1/ZeroScale",
        "qos": "0",
        "retain": "false",
        "broker": "aecbf6d3.8470c8",
        "x": 330,
        "y": 380,
        "wires": []
    },
    {
        "id": "a28a63aa.f717d",
        "type": "ui_text",
        "z": "64d1ba70.886f94",
        "group": "bfb4d79e.5b0258",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "Valid Data",
        "label": "Valid Data",
        "format": "<font color={{(msg.payload == false) ? 'red' : 'lime'}} size=\"6\" ><i class=\"fa fa-circle\"></i></font>",
        "layout": "row-center",
        "x": 750,
        "y": 180,
        "wires": []
    },
    {
        "id": "a94082e1.ab706",
        "type": "ui_chart",
        "z": "64d1ba70.886f94",
        "name": "Time chart",
        "group": "bfb4d79e.5b0258",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 750,
        "y": 100,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "7f4e20ee.2a12a",
        "type": "mqtt in",
        "z": "64d1ba70.886f94",
        "name": "",
        "topic": "SMC/Scale1/DataValid",
        "qos": "0",
        "broker": "aecbf6d3.8470c8",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "463fa51d.dbd5cc"
            ]
        ]
    },
    {
        "id": "463fa51d.dbd5cc",
        "type": "json",
        "z": "64d1ba70.886f94",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 180,
        "wires": [
            [
                "a28a63aa.f717d"
            ]
        ]
    },
    {
        "id": "ad6c0008.b022b",
        "type": "mqtt in",
        "z": "64d1ba70.886f94",
        "name": "",
        "topic": "SMC/Scale1/Unit",
        "qos": "0",
        "broker": "aecbf6d3.8470c8",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "a711bc82.85f8a"
            ]
        ]
    },
    {
        "id": "a711bc82.85f8a",
        "type": "function",
        "z": "64d1ba70.886f94",
        "name": "Add Unit and Weight",
        "func": "if (msg.topic == 'SMC/Scale1/Unit')\n{\n    context.set('unit', msg.payload);\n    return null;\n}\nvar unit = context.get('unit');\nif (unit == undefined) unit = ' ';\nreturn {'topic':msg.topic, 'payload':msg.payload, 'label':unit};",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 80,
        "wires": [
            [
                "a22ea59e.1a6cf8",
                "a94082e1.ab706"
            ]
        ]
    },
    {
        "id": "b5f25371.2240a",
        "type": "mqtt in",
        "z": "64d1ba70.886f94",
        "name": "",
        "topic": "SMC/Scale1/TimeStamp",
        "qos": "0",
        "broker": "aecbf6d3.8470c8",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "cf3ba177.c828a"
            ]
        ]
    },
    {
        "id": "cf3ba177.c828a",
        "type": "function",
        "z": "64d1ba70.886f94",
        "name": "Convert to Date and Time",
        "func": "var timeStamp = new Date(Number(msg.payload));\nmsg.payload = timeStamp.toLocaleString(); \nreturn {'topic':'date','payload':timeStamp.toISOString()};",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 240,
        "wires": [
            [
                "892c9f17.fdb07"
            ]
        ]
    },
    {
        "id": "892c9f17.fdb07",
        "type": "ui_text",
        "z": "64d1ba70.886f94",
        "group": "bfb4d79e.5b0258",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Date",
        "label": "Time Stamp",
        "format": "<font color='lime'>{{msg.payload}}</font>",
        "layout": "col-center",
        "x": 740,
        "y": 240,
        "wires": []
    }
]